<div>
  <h2 id="page-heading" data-cy="CartOrderDetailsHeading">
    <span>Lista cosuri de cumparaturi</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizeaza lista</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart-order-details"
        [routerLink]="['/cart-order-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Creaza un nou cos de cumparaturi </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cartOrderDetails?.length === 0">
    <span>Nu exista niciun cos de cumparaturi</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cartOrderDetails && cartOrderDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="idCartOrderDetails"><span>Id Cos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalPrice"><span>Pret total</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="statusCommand"><span>Status comanda</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idAppUser.idAppUser"><span>Id App User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let cartOrderDetails of cartOrderDetails; trackBy: trackIdCartOrderDetails" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cart-order-details', cartOrderDetails.idCartOrderDetails, 'view']">{{
              cartOrderDetails.idCartOrderDetails
            }}</a>
          </td>
          <td>{{ cartOrderDetails.totalPrice }}</td>
          <td>{{ cartOrderDetails.statusCommand }}</td>
          <td>
            <div *ngIf="cartOrderDetails.idAppUser">
              <a [routerLink]="['/app-user', cartOrderDetails.idAppUser?.idAppUser, 'view']">{{ cartOrderDetails.idAppUser?.idAppUser }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cart-order-details', cartOrderDetails.idCartOrderDetails, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vizualizare</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cart-order-details', cartOrderDetails.idCartOrderDetails, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editare</span>
              </button>

              <button type="submit" (click)="delete(cartOrderDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Stergere</span>
              </button>

              <button
                *ngIf="cartOrderDetails.statusCommand === 'NEFINALIZAT'"
                type="submit"
                (click)="finalizare(cartOrderDetails.idCartOrderDetails)"
                class="btn btn-danger btn-sm"
              >
                <fa-icon icon="cash-register"></fa-icon>
                <span class="d-none d-md-inline">Finalizare</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
