<!-- <div>
    <h2 id="page-heading" data-cy="ProductHeading">
      <span>Products</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh List</span>
        </button>
  
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-product"
          [routerLink]="['/product/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Product </span>
        </button>
      </div>
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
      <span>No products found</span>
    </div>
  
    <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col" jhiSortBy="idProduct"><span>Id Product</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="price"><span>Price</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="stock"><span>Stock</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="imageUrl"><span>Image Url</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="productUrl"><span>Product Url</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="modifiedAt"><span>Modified At</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="idCategory.idCategory"><span>Id Category</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="idGrower.idAppUser"><span>Id Grower</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
          <tr *ngFor="let product of products; trackBy: trackIdProduct" data-cy="entityTable">
            <td>
              <a [routerLink]="['/product', product.idProduct, 'view']">{{ product.idProduct }}</a>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.imageUrl }}</td>
            <td>{{ product.productUrl }}</td>
            <td>{{ product.createdAt | formatMediumDatetime }}</td>
            <td>{{ product.modifiedAt | formatMediumDatetime }}</td>
            <td>
              <div *ngIf="product.idCategory">
                <a [routerLink]="['/category', product.idCategory?.idCategory, 'view']">{{ product.idCategory?.idCategory }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="product.idGrower">
                <a [routerLink]="['/app-user', product.idGrower?.idAppUser, 'view']">{{ product.idGrower?.idAppUser }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/product', product.idProduct, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
  
                <button
                  type="submit"
                  [routerLink]="['/product', product.idProduct, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
  
                <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->

<p>Redirect worked</p>
<tr *ngFor="let product of products" data-cy="entityTable">
  <td>{{ product.name }}</td>
</tr>
