<div>
  <h2 id="page-heading" data-cy="CartItemsHeading">
    <span>Produse din cos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizeaza lista</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart-items"
        [routerLink]="['/cart-items/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Adauga un produs in lista de cumparaturi </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cartItems?.length === 0">
    <span>Niciun produs gasit in cos</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cartItems && cartItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="idCartItems"><span>Id Produs Cos </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity"><span>Cantitate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idProduct.idProduct"><span>Nume produs</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idOrderDetails.idCartOrderDetails"><span>Id Cos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let cartItems of cartItems; trackBy: trackIdCartItems" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cart-items', cartItems.idCartItems, 'view']">{{ cartItems.idCartItems }}</a>
          </td>
          <td>{{ cartItems.quantity }}</td>
          <td>
            <div *ngIf="cartItems.idProduct">
              <a [routerLink]="['/product', cartItems.idProduct?.idProduct, 'view']">{{ cartItems.idProduct?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cartItems.idOrderDetails">
              <a [routerLink]="['/cart-order-details', cartItems.idOrderDetails?.idCartOrderDetails, 'view']">{{
                cartItems.idOrderDetails?.idCartOrderDetails
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cart-items', cartItems.idCartItems, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vizualizare</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cart-items', cartItems.idCartItems, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editare</span>
              </button>

              <button type="submit" (click)="delete(cartItems)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Stergere</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
